@page "/Chemicals/Create"
@using Contracts
@using SiteCrestFrontend.API

<div class="row">
    <div class="col-lg-8">
        <h1 class="mb-5">New Chemical</h1>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Chemical name</label>
            <div class="col-md-8">
                <input class="form-control" @bind="ChemicalData.Name" />
                <span class="text-danger">@Error</span>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-4 col-md-4 d-grid">
                <button class="btn btn-primary" @onclick="SaveChemical">Submit</button>
            </div>
            <div class="col-md-4 d-grid">
                <a class="btn btn-outline-primary" href="/Chemicals">Cancel</a>
            </div>
        </div>
    </div>
</div>



@inject IChemicalApi ChemicalsApi
@inject NavigationManager NavManager
@code {
    public ChemicalDto ChemicalData { get; set; } = new();
    string Error;

    protected async Task SaveChemical()
    {
        var response = await ChemicalsApi.CreateAsync(ChemicalData);

        if (response.IsSuccessStatusCode) NavManager.NavigateTo("/Chemicals");
        else Error = await response.Content.ReadAsStringAsync();
    }
}